body {
    background-image: url("games_small-guess_the_number.png");
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;


}
p{
    font-size:20px ;
}

#game {
    width: 800px;
    margin: 0 auto;
    background-color:white;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

#guessInput {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#guessButton {
    padding: 10px 20px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#guessButton:hover {
    background-color: #0077B5;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

